*
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body
{
    background-color: #f0f0f0;
}

header
{
    padding: 1em;
}

section
{
    margin: 2rem auto auto auto;
}

textarea
{
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    
    border: none;
    outline: none;

    /* resize: none; */
    font-size: 16px;
}

#dropdown
{
    width: 4em;
    padding: 5px;
    margin-left: 1em;
    border: 0.5px solid darkgray;
    text-align: center;
}
#dropdown nav
{
    width: 80px;
    position: absolute;
    left: -100px;
    transition: 0.4s;
    z-index: 6;
}
#dropdown nav .opt
{
    all: unset;
    /* left: -400px; */

    width: 3.5em;
    height: 3.5em;
    margin: 1.5em 0 5px 1em;

    color:white;
    background-color: rgb(95, 95, 95);
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
#dropdown:hover nav
{
    left: 10px;
}